@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Italic;
  src: url("./fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: Poppins-ExtraBoldItalic;
  src: url("./fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url("./fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: Poppins-BoldItalic;
  src: url("./fonts/Poppins-BoldItalic.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./fonts/Poppins-Bold.ttf");
}

body {
  margin: 0;

  background-color: var(--off-white);

  font-family: Poppins;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

#root {
  height: 100vh;
  display: flex;
}

.container {
  width: 840px;
  margin: auto;
  padding: 58px;
  border-radius: 25px 25px 200px 25px;

  background-color: var(--white);
}

.form {
  display: flex;
  gap: 35px;
}

.input-block {
  display: flex;
  flex-direction: column;
}

.label-text {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase ;
  color: var(--smokey-grey);
}

.field {
  width: 160px;
  box-sizing: border-box;
  padding: 24px;
  margin-top: 16px;
  border-radius: 12px;
  
  color: var(--off-black);
  font-weight: 700;
  font-size: 24px;
  font-family: Poppins;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* BUTTON */

.btn {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;

  background-color: var(--purple);
}

.btn::before {
  content: url("./assets/icon-arrow.svg");
}

.btn span {
  display: none;
}

.btn-group {
  display: flex;
  align-items: center;
  
}

.btn-group hr {
  width: 655px;
  margin: 0;
}
