@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Italic;
  src: url("./fonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: Poppins-ExtraBoldItalic;
  src: url("./fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: Poppins-ExtraBold;
  src: url("./fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: Poppins-BoldItalic;
  src: url("./fonts/Poppins-BoldItalic.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./fonts/Poppins-Bold.ttf");
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;

  background-color: var(--off-white);

  font-family: Poppins;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

#root {
  height: 100vh;
  display: flex;
}

.container {
  width: 840px;

  margin: auto;
  padding: 58px;
  border-radius: 25px 25px 200px 25px;

  background-color: var(--white);
}

.form {
  display: flex;
  gap: 32px;
}

.input-block {
  display: flex;
  flex-direction: column;
}

.label-text {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: var(--smokey-grey);
}

.field {
  width: 160px;
  margin-top: 10px;
  padding: 0 22px;
  border-width: 1px;
  border-radius: 8px;
  border-color: var(--light-grey);
  
  color: var(--off-black);
  font-weight: 700;
  font-size: 32px;
  line-height: 72px;
  font-family: Poppins-Bold;
}

.field::placeholder {
  color: var(--smokey-grey);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* BUTTON */

.btn {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;

  background-color: var(--purple);

  cursor: pointer;
}

.btn::before {
  content: url("./assets/icon-arrow.svg");
}

.btn span {
  display: none;
}

.btn-group {
  display: flex;
  align-items: center;
  
}

.btn-group hr {
  width: 655px;
  margin: 0;
  border-color: var(--light-grey);
}

.result-text {
  font-size: 106px;
  line-height: 112px;

  font-family: Poppins-ExtraBoldItalic;
  margin: 0;
}

.result-text span {
  color: var(--purple);
  /* letter-spacing: 0.15em; */
}
